<div class="text-center bg-dark text-light p-4" style="height: 100vh;">
  <h1>Welcome to BOUTIQUE</h1>
  <h2>here is a breif about us</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia iure saepe
    doloremque exercitationem reprehenderit suscipit odio iste! Quaerat aperiam
    alias fugiat tempore repellat perspiciatis voluptatem delectus quos magnam!
    Consequatur, reiciendis? Lorem, ipsum dolor sit amet consectetur adipisicing
    elit. Quia iure saepe doloremque exercitationem reprehenderit suscipit odio
    iste! Quaerat aperiam alias fugiat tempore repellat perspiciatis voluptatem
    delectus quos magnam! Consequatur, reiciendis? Lorem, ipsum dolor sit amet
    consectetur adipisicing elit. Quia iure saepe doloremque exercitationem
    reprehenderit suscipit odio iste! Quaerat aperiam alias fugiat tempore
    repellat perspiciatis voluptatem delectus quos magnam! Consequatur,
    reiciendis? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia
    iure saepe doloremque exercitationem reprehenderit suscipit odio iste!
    Quaerat aperiam alias fugiat tempore repellat perspiciatis voluptatem
    delectus quos magnam! Consequatur, reiciendis? Lorem, ipsum dolor sit amet
    consectetur adipisicing elit. Quia iure saepe doloremque exercitationem
    reprehenderit suscipit odio iste! Quaerat aperiam alias fugiat tempore
    repellat perspiciatis voluptatem delectus quos magnam! Consequatur,
    reiciendis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
    tempore, dolorem cum aspernatur quae assumenda laudantium consequatur vitae
    dolore nemo eius aperiam? Odit sed perspiciatis expedita exercitationem
    itaque placeat ipsum? Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Fuga, quas consequuntur ut molestiae ad cupiditate mollitia a culpa!
    Consectetur recusandae vitae dicta ipsum incidunt est, non debitis veniam
    labore quo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
    praesentium enim consectetur amet id, veritatis error iure exercitationem
    ducimus necessitatibus facilis minus sunt iste perferendis officia, fugit
    corrupti suscipit? Praesentium.
  </p>
</div>
